{
  "presets": [
    ["env",{
      "targets": {
        "browsers": [
          "last 2 chrome versions",
          "last 2 firefox versions",
          "last 2 edge versions"
        ]
      },
      "include": [ "transform-es2015-classes"]
    }]
  ],
  "plugins": [
    ["transform-object-rest-spread", { "useBuiltIns": true }],
    ["transform-class-properties", { "useBuiltIns": true }]
  ]
}
